on emmc-fs
# mount mmc partitions
    wait /dev/block/mmcblk0p17
    mount ext4 /dev/block/mmcblk0p17 /system ro barrier=1
    wait /dev/block/mmcblk0p18
    mount ext4 /dev/block/mmcblk0p18 /data nosuid nodev barrier=1 
    mount ext4 /dev/block/mmcblk0p15 /cache nosuid nodev barrier=1
    exec /system/bin/iqcopy /system/etc/iq.img.vfat /data/iq.img.vfat
    chown system system /data/iq.img.vfat
    mkdir /data/app_iq_archive
    chown system system /data/app_iq_archive
    chmod 0640 /data/app_iq_archive
    mount vfat loop@/data/iq.img.vfat /data/app_iq_archive rw nosuid nodev
    write /sys/module/block2mtd/parameters/block2mtd /dev/block/mmcblk0p14
